<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title or "roundpit-rnd example" }}</title>
  {% rndHead %}
</head>
<body>
  <main class="example-main">{{ content | safe }}</main>
  {% rndScripts %}
</body>
</html>
